table,tr,td,th{
 
    text-align: center;
     border: 2px solid black;
     border-collapse: collapse;
    padding: 8px;
 }
 
 table
 {
    margin:auto;
    font-size: 30px;
 }

 img{
    max-width: 450px;
 }
 

 
 